{% extends "base.html" %}

{% block contenido %}
<div class="card shadow p-4">
    <h2 class="text-primary">Ahorro del agua</h2>

    <p>
        El ahorro del agua es fundamental para garantizar su disponibilidad
        en situaciones de escasez y para futuras generaciones.
    </p>

    <ul>
        <li>Cerrar la llave mientras se cepillan los dientes</li>
        <li>Reutilizar el agua de lavado para limpieza</li>
        <li>Reparar fugas en tuberías y llaves</li>
        <li>Usar cubeta en lugar de manguera</li>
    </ul>

</div>
{% endblock %}
