{% extends "base.html" %}

{% block contenido %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow p-4">
            <h2 class="text-center mb-3">Registro</h2>

            <form method="post">
                <input class="form-control mb-3" name="nombre" placeholder="Nombre" required>

                <input class="form-control mb-3" name="email" type="email" placeholder="Correo" required>

                <input class="form-control mb-3" name="password" type="password" placeholder="Contraseña" required>

                <button class="btn btn-primary w-100 mb-3">
                    Registrarse
                </button>
            </form>

            <!-- NAVEGACIÓN -->
            <div class="d-flex justify-content-between">
                <a href="{{ url_for('index') }}" class="btn btn-secondary">
                    ⬅ 
                </a>

                <a href="{{ url_for('login') }}" class="btn btn-outline-primary">
                    Iniciar sesión
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
